@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@700&display=swap");
@font-face {
  src: url("/font/Doctor\ Glitch.otf");
  font-family: "Doctor\ Glitch";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kufam", cursive;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 16px;
  margin-bottom: 0;
}

#Heading {
  background-image: linear-gradient(to left, #000000e3, #681515, #000000);
  box-sizing: border-box;
  padding: 1%;
  color: rgba(202, 23, 23, 0.589);
  text-shadow: 3px 4px 4px black;
  border-bottom: black 3px solid;
}

#Heading h1 {
  font-family: "Doctor\ Glitch";
}

.container {
  text-align: center;
  font-size: 30px, bold;
  padding: 0 15px;
}

#selection {
  text-align: center;
  background-color: #3f0404de;
  border-bottom: rgba(27, 26, 26, 0.842) 3px solid;
  box-shadow: 0px 5px 10px #582424;
}

#Introduction {
  margin: 30px;
  padding: 0.5%;
  border-bottom: black 3px solid;
}

.container h2 {
  color: rgb(17, 16, 16);
  font-size: 25px;
}

#Boxes {
  margin: 5px;
}

#LoL {
  background-color: #0d171c;
  margin-top: 30px;
  text-align: center;
  padding: 5px;
  border-top: rgba(255, 255, 255, 0.74) 3px solid;
}

#LoLcontent {
  height: 600px;
  width: 100%;
  background-color: black;
  background: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.87),
      rgba(255, 255, 255, 0)
    ),
    url("/images/divine-sword-irelia-league-of-legends-4k-5j.jpg");
  background-size: cover;
  border-bottom: black 3px solid;
}

.image-overlay {
  text-align: center;
  overflow: hidden;
  position: relative;
  filter: saturate(0.9);
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
  width: 50%;
  margin: auto;
}

.image-overlay img {
  width: 85%;
}

.image-overlay1 {
  opacity: 0.5;
}
.image-overlay2 {
  background-color: black;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here /
  line-height: 60px; / Vertically center the text there */
  background-color: #000000;
}

@media only screen and (max-width: 1900px) {
  .card1 {
    margin-left: 450px;
    width: 18rem;
  }
  .card2 {
    margin-left: 0;
    width: 18rem;
  }

  @media only screen and (max-width: 1440px) {
    .card1 {
      margin-left: 400px;
      width: 18rem;
    }
    .card2 {
      margin-left: -20px;
      width: 18rem;
    }
  }

  @media only screen and (max-width: 1024px) {
    .card1 {
      margin-left: 200px;
      width: 18rem;
    }
    .card2 {
      margin-left: -10px;
      width: 18rem;
    }
  }
}
